<div class='container edit_form' >
	<%= form_for task do |f| %>

		<%= f.label :title %>
		<div class="form-group title"><%= f.text_field :title, placeholder: 'eg. Homework', class: 'form-control field'  %></div>

		<%= f.label :description %>
		<div class="form-group"><%= f.text_field :description, placeholder: 'eg. Maths, Science', class: 'form-control field'  %></div>

		<%= f.label :deadline %>
		<div class="form-group"><%= f.date_field :deadline, class: 'form-control field' %></div>

		<%= f.label :difficulty %>
		<div class="form-group">0 <%= f.number_field :difficulty, placeholder: 'Difficulty', class: 'form-control field slider difficulty_slider', data: { 'slider-value' => (task.difficulty || 5) } %> 10</div>

		<%= f.label :importance %>
		<div class="form-group">0 <%= f.number_field :importance, placeholder: 'Importance', class: 'form-control field slider', data: {'slider-value' => (task.importance) || 5} %> 10</div>

		<%= f.label :category %>
		<div class="form-group"><%= f.number_field :category, class: 'form-control field slider', data: {'slider-value' => (task.importance) || 1} %></div>

		<div><%= f.submit buttontext, class: 'btn btn-default submit_edit' %></div>


	<% end %>
</div>