<% if user_signed_in? %>
<h1>Task Manager</h1>
<button class="btn new-task", type="submit" value="New Task" onclick="window.location='/tasks/new';">New Task!</button>
<% if @tasks.any? %>
<div class="row task-section">
	<% @tasks.each do |task| %>
	
	<div class="task col-md-7 row">
			<%= check_box_tag 'done', '1', task.done, class: 'checkbox col-md-1', data: { id: task.id } %>
		<article class="panel-group col-md-9" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=task.id%>">
					<%= task.title %> <%= task.deadline.strftime("%A, %d %b %Y %l:%M %p") %>
					</a>
					</h4>
				</div>
				<div id="collapse<%=task.id %>" class="panel-collapse collapse extraInfo">
					<div class="panel-body">
						<div class="panel-body-header row">
							<div class="col-md-4">
								<h4>Description</h4>
								<div class="description container"><%= task.description %></div>
							</div>
							<b class="col-md-4"> </b>

							<div class="col-md-4"><div class="icon"><%= icon(task.category) %></div>
							<p><%= name(task.category) %></p>
							</div>
						</div>
						
						<h4>Difficulty</h4>
						<div class="difficulty progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow=" <%= task.difficulty %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= task.difficulty * 10 %>%;">
    							<span><%= task.difficulty %></span>
  							</div>
						</div>
						<h4>Importance</h4>
						<div class="importance progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow=" <%= task.importance %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= task.importance * 10 %>%;">
    							<span><%= task.importance %></span>
  							</div>
						</div>
					</div>
				</div>
				<div id="collapse-edit<%=task.id %>" class="panel-collapse collapse ">
					<div class="panel-body">
						<div class="container"><h2>Edit Task</h2></div>
						<%= render '/tasks/form', :buttontext => "Edit Task", task: task %>
					</div>
				</div>
			</div>
			
		</article>
		<a data-toggle="collapse" data-parent="#accordion" href="#collapse-edit<%=task.id%>" class="btn btn-info col-md-1">
			Edit
		</a>
		<%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger col-md-1'%>
	</div>
	
	<% end %>
</div>
<% else %>
<div>No tasks yet!</div>
<% end %>
<% else %>
<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Data Symbiote</h1>
		<p>An intuitive and visually meaningful way to manage your life!</p>
		<p><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
	</div>
</div>
<% end %>