<% if @tasks.any? %>

	<ul>
	<% @tasks.each do |task| %>

		<li><%= task.title %>
		<%= task.deadline %>
		<%= task.difficulty %>
		<%= task.importance %>
		<%= link_to 'Edit', edit_task_path(task)%></li>

	<% end %>
	</ul>

<% else %>

	No tasks yet!

<% end %>

<button type="submit" value="New Task" onclick="window.location='/tasks/new';">New Task!</button>