<% if @tasks.any? %>

	<ul>
	<% @tasks.each do |task| %>

		<li>
		<%= check_box_tag 'done', value: task.done, class: 'checkbox'%>
		<%= task.title %>
		<%= task.deadline %>
		<%= task.difficulty %>
		<%= task.importance %>
		<%= link_to 'Edit', edit_task_path(task)%>
		<%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: 'Are you sure?'}%></li>

	<% end %>
	</ul>

<% else %>

	<div>No tasks yet!</div>

<% end %>

<button type="submit" value="New Task" onclick="window.location='/tasks/new';">New Task!</button>